@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
