<header class="keyVisual {{ if eq .RelPermalink "/" }}keyVisual_hero{{ end }}">
{{ if eq .RelPermalink "/" }}
  <div class="keyVisual_wrap">
    <div class="keyVisual_card">
      <div class="keyVisual_card_logo">
        <img src="{{ .Site.Params.event.logo }}" alt="{{ .Site.Params.event.title }}" />
      </div>
      <div class="keyVisual_card_meta">
        <div class="keyVisual_card_meta_subTitle"><span class="marker marker_gray">{{ .Site.Params.event.subTitle }}</span></div>
        <div class="keyVisual_card_meta_title">
          <span class="marker marker_green">
          {{ .Site.Params.event.genre }}
          <span class="noBreak">「{{ .Site.Params.event.name }}」</span>
        </span>
        </div>
        <div class="keyVisual_card_meta_date"><span class="marker marker_gray">{{ .Site.Params.event.date }}</span></div>
        <div class="keyVisual_card_meta_place"><span class="marker marker_green">{{ .Site.Params.event.place }}</span></div>
        <!-- <div class="keyVisual_card_meta_illustrator"><span class="marker marker_gray">キービジュアル: {{ .Site.Params.event.illustrator }}</span></div> -->
      </div>
    </div>
  </div>

{{ end }}
</header>
